.page__main-content {
  flex-grow: 0;
}
.new-deck-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-deck-view__title {
  font-size: 40px;
  font-weight: 700;
  max-width: 670px;
  width: 100%;
  margin: 0 0 32px 0;
}

.new-deck-view__form {
  max-width: 670px;
  width: 100%;
  min-height: 514px;
  height: 100%;
  border: none;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.new-deck-view__color-picker {
  border: none;
  padding: 0;
}

.new-deck-view__color-input {
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.new-deck-view__color-input:checked {
  border: 2px solid rgb(0 0 0 / 1);
}
.new-deck-view__color-input:hover {
  border: 2px solid rgb(0 0 0 / 0.5);
  cursor: pointer;
}

.new-deck-view__color-input_color_green {
  background-color: #64d583;
}

.new-deck-view__color-input_color_blue {
  background-color: #91a8f9;
}

.new-deck-view__color-input_color_purple {
  background-color: #aa8ef0;
}

.new-deck-view__color-input_color_pink {
  background-color: #ee92d7;
}
.new-deck-view__color-input_color_orange {
  background-color: #ee955e;
}

.new-deck-view__color-input_color_yellow {
  background-color: #f5d770;
}
.form__submit-btn {
  font-size: 16px;
  line-height: 20px;
  max-width: 172px;
  width: 100%;
  height: 44px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
  border-radius: 8px;
  border: none;
}
.form__submit-btn:hover {
  cursor: pointer;
}

.form__submit-btn:disabled {
  opacity: 0.3;
}
.card-array-text {
  max-width: 670px;
  width: 100%;
  min-height: 210px;
  height: 100%;
  border: none;
  border-radius: 8px;
}
.new-deck-view__instructions,
.new-deck-view__legend {
  line-height: 135%;
  font-size: 18px;
  font-weight: 500;
}
